@import '../../styles/variables';

.home {
    .home-page__callout {
        background-color: red;
    }

    .space {
        margin: $space-xxxl 0;
    }
}

.back-to-top {
    width: 100%;
    // background-color: #FAFAFA;
    padding: $space-md 0;

    @media (max-width: 590px) {
        padding: $space-sm;
    }

    &__container {
        max-width: 700px;
        margin: 0 auto;

        img {
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.08);
            }
        }
    }
}